#content{
  margin: 5% 10%;
}

#content header{
  font-size: 25;
}

article{
  width: 100%;
  margin-top: 4%;
  border: 1px solid gray;
  padding: 4% 3%;
}

title {
  font-size: 20;
}

label, title{
  width: 100%;
  display: block;
}

#abstractLabel{
  margin-top: 1%;
}
